<html>
  <head>
    <title>Generated Planet</title>

    <style>
      .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid black;
        background-color: #fff;
      }
      ul {
        width: 100%;
        height: 100%;
      }

      li {
        display: inline;
        padding: inherit 10px;
      }

      .map-container {
        margin-top: 51px;
      }

      .noshow {
        display: none;
      }
    </style>

    <script>
      function showSvg(event, svgId) {
        event.preventDefault();

        var others = document.getElementsByClassName('mapsvg');
        for (var i = 0; i < others.length; i++) {
          others.item(i).classList.add('noshow');
        }

        var elem = document.getElementById(svgId);
        elem.classList.remove('noshow');
        return false;
      }
    </script>
  </head>

  <body>

    <div class="nav-container">
      <ul>
        {{NAV}}
      </ul>
    </div>

    <div class="map-container">
      {{MAPS}}
    </div>

  </body>
</html>
