<template>
  <div>
    <h2><nuxt-link :to="url">Star #{{seed}}</nuxt-link></h2>
    <nuxt-child/>
  </div>
</template>

<script>

module.exports = {
  asyncData({params, store}) {
    const starid = parseInt(params.starid);
    const systemInfo = store.state.starById[starid];
    systemInfo.url = '/' + params.clusterseed + '/' + starid;
    return systemInfo;
  }
};

</script>

<style>
</style>
