<template>
  <div>
    <div>
      Star Info:<br>
      <ul>
        <li v-for="info in typeInfo" :key="info.type">{{info.type}}: {{info.count}}</li>
      </ul>
    </div>

    <svg width="910" height="910">
      <g>
        <polygon class="normalCell" v-for="cell in $store.state.polygons" :key="cell.starId" :data-starurl="cell.url" :points="cell.pointsStr" v-on:click="onCellClick" />
        <rect v-for="star in $store.state.stars" :key="star.starId" :x="star.x" :y="star.y" width="2" height="2" :stroke="star.color" />
      </g>
    </svg>
  </div>
</template>

<script>

module.exports = {
  methods: {
    onCellClick: function(evt) {
      this.$router.push(evt.target.dataset.starurl);
    }
  },

  asyncData({params, store}) {
    const stars = store.state.stars;
    const starTypes = [];
    const countByTypes = {};

    stars.forEach(function(star) {
      const starType = star.starInfo.starType + star.starInfo.starSubType + 'V';
      if (starTypes.indexOf(starType) === -1) {
        starTypes.push(starType);
      }

      if (!countByTypes[starType]) {
        countByTypes[starType] = 1;
      } else {
        countByTypes[starType]++;
      }
    });

    return {
      typeInfo: starTypes.map(t => ({type: t, count: countByTypes[t]}))
    };
  }
};

</script>

<style>
  .normalCell {
    fill: #000000;
    stroke: #ffffff;
  }
  .normalCell:hover {
    fill: #333333;
    stroke: #ffffff;
  }
</style>
