<template>
  <div>
    <ul>
      <li>Star Type: {{ $parent.starInfo.starType }}{{ $parent.starInfo.starSubType }}V</li>
      <li>Mass: {{ $parent.starInfo.starMass }}</li>
      <li>Luminosity: {{ $parent.starInfo.starLum }}</li>
      <li>Radiance: {{ $parent.starInfo.starRad }}</li>
      <li>Temperature: {{ $parent.starInfo.starTemp }}</li>
      <li>Habitability Modifier: {{ $parent.starInfo.starHabMod }}</li>
      <li>Min Life Dist: {{ $parent.starInfo.minLifeDist }}</li>
      <li>Max Life Dist: {{ $parent.starInfo.maxLifeDist }}</li>
    </ul>
    <br/>

    <ol>
      <li v-for="orbit in $parent.orbitals" :key="orbit.seed">
        <nuxt-link :to="orbit.orbiturl">{{ orbit.planetType }}</nuxt-link> - {{ orbit.habitable }} - {{ orbit.orbitalDistance }} AU
      </li>
    </ol>
  </div>
</template>

<script>

module.exports = {
};

</script>

<style>
</style>
