<template>
  <g>
    <polygon v-for="poly in polygons" :key="poly.key" :fill="poly.fillcolor" :stroke="poly.strokecolor" :points="poly.pathStr"/>
    <line v-for="wv in windVectors" :key="wv.key" :x1="wv.x" :y1="wv.y" :x2="wv.windX" :y2="wv.windY" stroke="#ffffff"/>
  </g>
</template>

<script>

module.exports = {
  data: () => {
    return {polygons: [], windVectors: []};
  },

  created() {
    const idToCell = this.$parent.terrain.idToCell;

    this.polygons = this.$parent.terrain.cells.map(function(cell, index) {
      const biomeColors = {
        'Tropical Forest': '#9be023',
        'Tropical Rain Forest': '#09fa37',
        'Temperate Rain Forest': '#05f9a2',
        'Temperate Deciduous Forest': '#2fb153',
        'Desert': '#f79517',
        'Savana': '#fada05',
        'Tiaga': '#056621',
        'Tundra': '#54edf7',
        'Ice': '#ffffff',
        'Water': '#0000ff'
      };

      const actualCell = idToCell[cell.site._id];

      const fillcolor = biomeColors[actualCell.biome];
      const strokecolor = fillcolor;

      const pathStr = cell.points.map(p => `${p.x},${p.y}`).join(' ');
      return {
        key: cell.site._id + '-' + index,
        fillcolor: fillcolor,
        strokecolor: strokecolor,
        pathStr: pathStr,
      };
    });

    this.windVectors = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];
      const windVector = actualCell.windVector;

      return {
        key: cell.site._id + 'w' + index,
        x: cell.site.x,
        y: cell.site.y,
        windX: cell.site.x + (windVector.x * 10),
        windY: cell.site.y + (windVector.y * 10)
      };
    });
  }
}
</script>

<style>
</style>
