<template>
  <g>
    <polygon v-for="poly in polygons" :key="poly.key" :fill="poly.fillcolor" :stroke="poly.strokecolor" :points="poly.pathStr"/>
  </g>
</template>

<script>

module.exports = {
  data: () => {
    return {polygons: []};
  },

  created() {
    const idToCell = this.$parent.terrain.idToCell;

    this.polygons = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];

      const fillcolor = actualCell.isWater ? '#0000ff' : '#009900';
      const strokecolor = fillcolor;

      const pathStr = cell.points.map(p => `${p.x},${p.y}`).join(' ');
      return {
        key: cell.site._id + '-' + index,
        fillcolor: fillcolor,
        strokecolor: strokecolor,
        pathStr: pathStr,
      };
    });
  }
}
</script>

<style>
</style>
