<template>
  <g>
    <polygon v-for="poly in polygons" :key="poly.key" :fill="poly.fillcolor" :stroke="poly.strokecolor" :points="poly.pathStr"/>
    <line v-for="wv in windVectors" :key="wv.key" :x1="wv.x" :y1="wv.y" :x2="wv.windX" :y2="wv.windY" stroke="#ffffff"/>
  </g>
</template>

<script>

module.exports = {
  data: () => {
    return {polygons: [], windVectors: []};
  },

  created() {
    const idToCell = this.$parent.terrain.idToCell;

    this.polygons = this.$parent.terrain.cells.map(function(cell, index) {
      const moistureColors = [
        '#000000',
        '#200000',
        '#480000',
        '#600000',
        '#780000',
        '#900000',
        '#a70000',
        '#c00000',
        '#d70000',
        '#ef0000'
      ];

      const actualCell = idToCell[cell.site._id];
      const cellMoisture = actualCell.moisture.contains;
      let moistureIndex = Math.floor(cellMoisture * 2.0);
      if (moistureIndex >= moistureColors.length) {
        moistureIndex = moistureColors.length - 1;
      } else if (moistureIndex < 0) {
        moistureIndex = 0;
      }

      const fillcolor = cell.isWater ? '#0000ff' : moistureColors[moistureIndex];
      const strokecolor = fillcolor;

      const pathStr = cell.points.map(p => `${p.x},${p.y}`).join(' ');
      return {
        key: cell.site._id + '-' + index,
        fillcolor: fillcolor,
        strokecolor: strokecolor,
        pathStr: pathStr,
      };
    });

    this.windVectors = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];
      const windVector = actualCell.windVector;

      return {
        key: cell.site._id + 'w' + index,
        x: cell.site.x,
        y: cell.site.y,
        windX: cell.site.x + (windVector.x * 10),
        windY: cell.site.y + (windVector.y * 10)
      };
    });
  }
}
</script>

<style>
</style>
