<template>
  <g>
    <polygon v-for="poly in polygons" :key="poly.key" :fill="poly.fillcolor" :stroke="poly.strokecolor" :points="poly.pathStr"/>
    <rect v-for="fv in forceVectors" :key="fv.rkey" :x="fv.x1" :y="fv.y1" width="2" height="2" stroke="#ff0000"/>
    <line v-for="fv in forceVectors" :key="fv.key" :x1="fv.x1" :y1="fv.y1" :x2="fv.x2" :y2="fv.y2" stroke="#ffffff"/>
  </g>
</template>

<script>

module.exports = {
  data: () => {
    return {polygons: [], forceVectors: []};
  },

  created() {
    function hexifynum(num) {
      const v = '00' + (num.toString(16));
      return v.substring(v.length - 2);
    }
    function randomColor() {
      const r = hexifynum(Math.floor(Math.random() * 255));
      const g = hexifynum(Math.floor(Math.random() * 255));
      const b = hexifynum(Math.floor(Math.random() * 255));

      return '#' + r + g + b;
    }
    const plateColorTable = [];
    function getPlateColorForIndex(index) {
      for (let i = plateColorTable.length; i <= index; i++) {
        plateColorTable.push(randomColor());
      }
      return plateColorTable[index];
    }


    const idToCell = this.$parent.terrain.idToCell;

    this.polygons = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];

      const fillcolor = getPlateColorForIndex(actualCell.plateIndex) || '#ffffff';
      const strokecolor = fillcolor;
      const forcecolor = actualCell._startingPlate ? '#ff00ff' : '#000000';

      const pathStr = cell.points.map(p => `${p.x},${p.y}`).join(' ');
      return {
        key: cell.site._id + '-' + index,
        fillcolor: fillcolor,
        strokecolor: strokecolor,
        pathStr: pathStr,
      };
    });

    this.forceVectors = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];
      const cellForce = actualCell._force;

      return {
        key: cell.site._id + 'p' + index,
        rkey: cell.site._id + 'r' + index,
        x1: cell.site.x,
        y1: cell.site.y,
        x2: cell.site.x + (cellForce.x),
        y2: cell.site.y + (cellForce.y)
      };
    });
  }
}
</script>

<style>
</style>
