<template>
  <g>
    <polygon v-for="poly in polygons" :key="poly.key" :fill="poly.fillcolor" :stroke="poly.strokecolor" :points="poly.pathStr"/>
  </g>
</template>

<script>

module.exports = {
  data: () => {
    return {polygons: []};
  },

  created() {
    const idToCell = this.$parent.terrain.idToCell;

    this.polygons = this.$parent.terrain.cells.map(function(cell, index) {
      const temperatureColors = [
        '#e5e5e5',
        '#b2b2b2',
        '#bf7fff',
        '#7f00ff',
        '#0000ff',
        '#007fff',
        '#00ffff',
        '#00ff99',
        '#00ff00',
        '#b2ff00',
        '#ffff00',
        '#ffbf00',
        '#ffd1e0',
        '#f07091',
        '#ff0000'
      ];

      const actualCell = idToCell[cell.site._id];
      const cellTemperatureInF = actualCell.temperature * (9.0 / 5.0) - 459.67;
      let temperatureColorIndex = Math.floor(cellTemperatureInF / 10.0) + 4;
      if (temperatureColorIndex < 0) {
        temperatureColorIndex = 0;
      } else if (temperatureColorIndex >= temperatureColors.length) {
        temperatureColorIndex = temperatureColors.length - 1;
      }

      const fillcolor = temperatureColors[temperatureColorIndex];
      const strokecolor = fillcolor;

      const pathStr = cell.points.map(p => `${p.x},${p.y}`).join(' ');
      return {
        key: cell.site._id + '-' + index,
        fillcolor: fillcolor,
        strokecolor: strokecolor,
        pathStr: pathStr,
      };
    });
  }
}
</script>

<style>
</style>
