<template>
  <g>
    <polygon v-for="poly in polygons" :key="poly.key" :fill="poly.fillcolor" :stroke="poly.strokecolor" :points="poly.pathStr"/>
    <line v-for="wv in windVectors" :key="wv.key" :x1="wv.x" :y1="wv.y" :x2="wv.windX" :y2="wv.windY" stroke="#ffffff"/>
  </g>
</template>

<script>

module.exports = {
  data: () => {
    return {polygons: [], windVectors: []};
  },

  created() {
    const idToCell = this.$parent.terrain.idToCell;

    this.polygons = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];

      let fillcolor = actualCell.isWater ? '#0000dd' : '#00aa00';
      if (actualCell._mountainHeight != null) {
        fillcolor = actualCell.isWater ? '#0000ff' : '#cccccc';
      } else if (actualCell._valleyDepth != null) {
        fillcolor = actualCell.isWater ? '#0000bb' : '#008800';
      }

      const strokecolor = fillcolor;

      const pathStr = cell.points.map(p => `${p.x},${p.y}`).join(' ');
      return {
        key: cell.site._id + '-' + index,
        fillcolor: fillcolor,
        strokecolor: strokecolor,
        pathStr: pathStr,
      };
    });

    this.windVectors = this.$parent.terrain.cells.map(function(cell, index) {
      const actualCell = idToCell[cell.site._id];
      const windVector = actualCell.windVector;

      return {
        key: cell.site._id + 'w' + index,
        x: cell.site.x,
        y: cell.site.y,
        windX: cell.site.x + (windVector.x * 10),
        windY: cell.site.y + (windVector.y * 10)
      };
    });
  }
}
</script>

<style>
</style>
