<template>
  <div>
    <h3>Planet #{{ orbitindex }}</h3>
    <ul>
      <li>{{ planetInfo.planetType }}</li>
      <li>{{ planetInfo.orbitalDistance }} AU</li>
      <li>{{ planetInfo.orbitalSlot+1 }} from the sun</li>
      <li>Diameter: {{ planetInfo.planetDiameter.toFixed(2) }} KM</li>
      <li>Density: {{ planetInfo.density.toFixed(2) }}g/cm^3</li>
      <li>Gravity: {{ (planetInfo.gravityPerTerra * 9.81).toFixed(2) }} m/s</li>
      <li>Year length: {{ planetInfo.yearLength.toFixed(2) }} Earth-years</li>
      <li>Day Length: {{ planetInfo.dayLength.toFixed(2) }} Earth-hours</li>
      <li>{{ planetInfo.habitable ? 'Habitable' : 'Uninhabitable' }}</li>

      <li v-if="planetInfo.planetTemperature">Temperature: {{ planetInfo.planetTemperature.toFixed(2) }} Kelvin | {{ planetInfo._temperatureInF }} F</li>
      <li v-if="planetInfo.habitable">Air Condition: {{ planetInfo.atmoCondition }}</li>
      <li v-if="planetInfo.habitable">Atmosphere Pressure: {{ planetInfo.atmospherePressure }}</li>
      <li v-if="planetInfo.habitable">Surface Water %: {{ planetInfo.percentSurfaceWater }}</li>
      <li v-if="planetInfo.habitable">Terrain seed: {{ planetInfo.terrainSeed }}</li>
    </ul>

    <div v-if="terrain != null">
      <a href="#" v-on:click="changeMap" data-map="coast">Coastline</a> |
      <a href="#" v-on:click="changeMap" data-map="plates">Plates</a> |
      <a href="#" v-on:click="changeMap" data-map="height">Heightmap</a> |
      <a href="#" v-on:click="changeMap" data-map="wind">Wind</a> |
      <a href="#" v-on:click="changeMap" data-map="moisture">Moisture</a> |
      <a href="#" v-on:click="changeMap" data-map="temperature">Temperature</a> |
      <a href="#" v-on:click="changeMap" data-map="biome">Biomes</a><br /><br />

      <svg v-if="selectedMap == 'coast'" width="900" height="900">
        <coast-map />
      </svg>
      <svg v-if="selectedMap == 'plates'" width="900" height="900">
        <plates-map />
      </svg>
      <svg v-if="selectedMap == 'height'" width="900" height="900">
        <height-map />
      </svg>
      <svg v-if="selectedMap == 'wind'" width="900" height="900">
        <wind-map />
      </svg>
      <svg v-if="selectedMap == 'moisture'" width="900" height="900">
        <moisture-map />
      </svg>
      <svg v-if="selectedMap == 'temperature'" width="900" height="900">
        <temperature-map />
      </svg>
      <svg v-if="selectedMap == 'biome'" width="900" height="900">
        <biome-map />
      </svg>
    </div>
  </div>
</template>

<script>
import BiomeMap from '../../../../components/biome-map';
import CoastMap from '../../../../components/coast-map';
import HeightMap from '../../../../components/height-map';
import MoistureMap from '../../../../components/moisture-map';
import PlatesMap from '../../../../components/plates-map';
import TemperatureMap from '../../../../components/temperature-map';
import WindMap from '../../../../components/wind-map';

const generateTerrain = require('../../../../generator/terrain-generation/');

export default {
  validate({ params }) {
    return !isNaN(+params.orbitindex);
  },

  components: {
    BiomeMap,
    CoastMap,
    HeightMap,
    MoistureMap,
    PlatesMap,
    TemperatureMap,
    WindMap
  },

  methods: {
    changeMap(evt) {
      evt.preventDefault();
      const map = evt.target.dataset.map;
      this.selectedMap = map;
    }
  },

  asyncData({ params, store, env, error }) {
    const starid = parseInt(params.starid);
    const orbitindex = parseInt(params.orbitindex);

    const systemInfo = store.state.starById[starid];
    const planetInfo = systemInfo.orbitals[orbitindex];

    if (planetInfo.planetTemperature) {
      planetInfo._temperatureInF = 9 / 5 * planetInfo.planetTemperature - 459.67;
      planetInfo._temperatureInF = planetInfo._temperatureInF.toFixed(2);
    }

    // if planet terrainSeed, then generate that too
    let terrain = null;
    if (planetInfo.terrainSeed) {
      terrain = generateTerrain(planetInfo.terrainSeed, systemInfo.starInfo, planetInfo);
    }

    return {
      selectedMap: 'coast',
      terrain: terrain,
      planetInfo: planetInfo,
      orbitindex: (orbitindex + 1)
    };
  }
};

</script>

<style>
</style>
