<template>
  <div>
    <h1><nuxt-link :to="url">Cluster: {{$store.state.seed}}</nuxt-link></h1>
    <nuxt-child/>
  </div>
</template>

<script>
const Voronoi = require('../generator/utils/voronoi/');

const generateClusterInfo = require('../generator/cluster-generation/');

module.exports = {
  validate({ params }) {
    return !isNaN(+params.clusterseed);
  },

  asyncData({params}) {
    return {
      url: '/' + params.clusterseed
    };
  },

  fetch({ store, params, error }) {
    const seed = parseInt(params.clusterseed);

    const stars = generateClusterInfo(seed, true);

    stars.forEach(function(star) {
      star.hasHabitable = star.orbitals.some(orbital => orbital && orbital.habitable);
      star.color = star.hasHabitable ? '#00ff00' : '#ff0000';

      star.orbitals.forEach(function(orbital, orbitalIndex) {
        orbital.orbiturl = '/' + seed + '/' + star._id + '/' + orbitalIndex;
      });
    });

    const starsWithHabitables = stars.filter(systemInfo => systemInfo.hasHabitable);

    const starById = starsWithHabitables.reduce(function(hash, star) {
      hash[star._id] = star;
      return hash;
    }, {});

    const voronoi = new Voronoi();
    const diagram = voronoi.compute(starsWithHabitables, {
      xl: 0,
      xr: 900,
      yt: 0,
      yb: 900
    });

    const polygons = diagram.cells.map(function(cell) {
      const systemInfo = starById[cell.site._id];
      const points = cell.halfedges.map((he) => he.getStartpoint());
      const url = '/' + seed + '/' + cell.site._id;

      return {
        starId: cell.site._id,
        seed: cell.site.seed,
        url: url,
        x: cell.site.x,
        y: cell.site.y,
        points: points,
        pointsStr: points.map(p => `${p.x},${p.y}`).join(' ')
      }
    });

    store.commit('setStarData', {
      stars: stars,
      starById: starById,
      polygons: polygons,
      seed: seed
    });
  }
};

</script>

<style>
  .normalCell {
    fill: #000000;
    stroke: #ffffff;
  }
  .normalCell:hover {
    fill: #333333;
    stroke: #ffffff;
  }
</style>
