<template>
  <section class="container">
    <div>
      <h1>
        Star Cluster Browser
      </h1>
      <h2>
        All procedurally generated using Battletech Intersteller Operation rules
      </h2>
    </div><br><br>
    <div>
      <nuxt-link to="/54232">Just go into seed: 54232</nuxt-link>
    </div>
  </section>
</template>

<script>

module.exports = {
  components: {
  }
};

</script>

<style>
.container {
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
